.david-libre-regular {
  font-family: "David Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.david-libre-medium {
  font-family: "David Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.david-libre-bold {
  font-family: "David Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.comme-uniquifier {
  font-family: "Comme", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Comme", sans-serif;
    font-size: 24px;
}

header {
    background-color: #edc9b9 
}

.container{
    width: 79%;
    margin: 0 auto;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;     
    margin: 0 auto;
    padding: 40px 20px;
}

h1{
      font-family: "David Libre", serif;
      font-size: 48px;
      margin-bottom: 20px;
}

h2{
    font-family: "Comme", sans-serif;
      font-size: 36px;
}

h3{
    font-family: "Comme", sans-serif;
      font-size: 24px;
}

.logo{
    font-family: "David Libre", serif;
    font-size: 48px;
    text-transform: uppercase;
}

ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #7e243c;
}
.btn{
    width: 300px;
    height: 60px;
    background-color: #ec819e;
    color: #7e243C;
    border: none;
    margin-top: 15px;
}

.btntwo{
    width: 400px;
    height: 70px;
    background-color: #ec819e;
    color: #7e243C;
    border: none;
    margin-bottom: 30px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
}

.navigation ol{
    display: flex;
    gap: 20px;
}

.l-column{
   flex: 1;
}

.r-column{
    flex: 1;
}

.flexone{
    display: flex;
    justify-content:right;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 450px;
}

.two_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: #d9d9d9;
    padding: 40px; 
}

footer .container{
    display: flex;
    justify-content: space-between;
}
.foto{
    display:inline-flexbox;
    justify-content:space-between;
    align-items:first baseline;
    flex-wrap:wrap;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;     
    margin: 0 auto;
    padding: 40px 20px;
}




.cards-container {
    display: flex;
    justify-content:space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    background: white;
    overflow: hidden;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}


.card-image {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-text {
    background: #EC819E;
    padding: 25px 20px;
    min-height: 130px;
    display: flex;
    align-items: center;
}

.cards-container-last {
    display: flex;
    justify-content:space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    flex-wrap: wrap;
}